body{
    margin: 0;
    overflow-x: hidden;
    overflow-y:auto;
}
.home{
    height: 200vh;
    width: 100%;
    background-image: url(/images/bg.jpg); 
    background-attachment: fixed;
    
}
span{
    font-weight: bolder;
}

.left{
    color:white;
    /* margin-right: 50px; */
    margin-left: 100px;
}
.right{
    color: white;
    margin-left: 300px;
}
.icons{
    display: flex;
    /* background-color: aqua; */
}
.intro{
    display: inline;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.navbar{
    display: inline;
    overflow: hidden;
    /* background-color: aqua; */
    font-family: sans-serif;
    margin-left: 300px;
}
.navbar a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.active{
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #ff974f;
    font-weight: bold;
}

.image{
    width: 30%;
    height: 15vh;
    background-image: url(/images/logo.png);
    background-size: auto;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
}
.main{
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    align-content: center;
    justify-content: center;
    line-height: 1;
    /* margin-top: 200px; */
    margin-bottom: 100px;
}
h1{
    color: white;
    font-size: 4.25rem;
    font-family: Lora, serif;
}
h2{
    color: #ff974f;
    font-family: inherit;
    font: 22px sans-serif;
    padding: 0px 0px 10px;
    margin: 10px 0px 5px;
}

h3{
    color: #1f3a20;
    font: 32px Lora,serif;
}

h5{
    font: 22px 'Lora', serif;
    color: #1f2a30;
    /* padding: 5px 0px 0px; */
    padding-top: 0px;
    font-size: 1.375rem;
    font-weight: 700;
    width: 212.5;
}

h6{
    color: #636366;
    font: 16px 'Raleway', sans-serif;
    font-size: x-large0;

}

.btn{
    background-color: #ff974f;
    padding: 16px 35px;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    font: 1rem Raleway, sans-serif;
}
.btn:hover{
    background-color: #ef6e12;
}

.col{
    padding: 20px 150px;
    justify-content: center;
    margin-top: 13rem;
    background-color: white;

}

.images{
    /* flex: 5%;
    flex-wrap: nowrap; */
    padding: 0 30px;
    max-width: 95%;
    background-color: white;
    box-sizing: border-box;

}

.images img{
    width: 350px;
    padding: 30px 0px;
}

.welcome{
    max-width: 40%;
    color: #636366;
    font: 16px Raleway, sans-serif;
    line-height: 27px; 
}

.welcome a{
    border: 1px solid #636366ae;
    padding: 12px 22px;
    text-decoration: none;
    color: #1f2a30;
    font: 14px Raleway, sans-serif;
    margin: 10px 0px 30px;
    border-radius: 5px;
}

.hr{
    width: 6rem;
    height: 2px;
    float: left;
    background-color: #ef6e12;
}

.content{
    display: flex;
    padding-left: 50px;
}

.content a:hover{
    border-color: #ef6e12;
}

.about-block{
    /* background-color: #1f3a20; */
    max-width: 23%;
    padding: 35px 20px;
    /* display: block; */
}

.about-block img{
    width: 100%;
    vertical-align: middle;
}

.about-block p{
    /* line-height: px; */
    /* padding-bottom: 100px; */
    color: #636366;
    font: 15.008px 'Raleway',sans-serif;
}

.colum{
    padding: 20px 80px;
    width: 330px;
    height: 80vh;
    justify-content: center;
    align-content: center;
    margin-top: 13rem;
    background-color: white;
    margin-bottom: 13rem;

}


.Content{
    display: flex;
    align-content: center;
    justify-content: center;
}

/* .spacing{} */

.newpage{
    background-image: url(/images/bg4.jpg);
    overflow: none;
    margin-top: 8rem;
    justify-content: center;
    background-attachment: fixed;
    /* align-content: center; */
}

.form{
    background-color: white;
    padding: 20px 80px;
    width: 330px;
    height: 80vh;
    justify-content: center;
    align-content: center;
    margin-top: 13rem;
    margin-bottom: 13rem;
}

.contactform{
    margin-top: 5rem;
}
.nav{
    float: right;
}

.formcontrol{
    width: 20rem;
    height: 2rem;
    border: 2px solid rgba(128, 128, 128, 0.504);
}

.formcontrol-1{
    width: 23rem;
    height: 10rem;
    border: 2px solid rgba(128, 128, 128, 0.504);
}

.icon{
    padding: 20px 30px;
    /* padding-left: 50px; */
    /* border: 3px solid orange; */
    margin-top: 50px;
}

.icon a{
    border: 1.38px solid rgba(128, 128, 128, 0.323);
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    margin: 3px;
}
.fa:hover{
   color: #ef6e12;
}
